<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_71_~_131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 300제

파이썬 튜플

71번 ~ 80번

In [12]:
#71번 튜플 만들기

my_variable=()
print(type(my_variable))

#72번 튜플 만들기

MovieRank = ("닥터 스트레인지", "스플릿", "럭키")

#73번 튜플 생성

a = (1) #1을 가진 튜플 생성

#74번 오류 설명

"""t = (1, 2, 3)
t[0] = 'a' #튜플은 원소의 값을 변경 불가하기 때문에 오류 발생
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment"""

#75번 튜플의 특성

t = 1, 2, 3, 4 #튜플은 괄호와 함께 데이터를 정의해야하지만, 괄호 없이도 동작 가능
print(type(t))

#76번 튜플의 정의

t = ('a', 'b', 'c')
t = ('A', 'b', 'c') #튜플의 값을 변경시키고 싶으면 새로운 튜플을 만들어야한다.

#77번 형변환

interest = ('삼성전자', 'LG전자', 'SK Hynix')
e = list(interest) #형변환(튜플 -> 리스트)
print(type(e))

#78번 형변환

interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest) #형변환(리스트 -> 튜플)
print(type(a))

#79번 튜플 언팩킹

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#80번 range 함수

a = tuple(range(2, 100, 2))
print( a )

<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>
apple banana cake
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

파이썬 딕셔너리

81번 ~ 100번

In [47]:
#81번 star expression

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

#82번 star expression

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

#83번 star expression

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

#84번 비어있는 딕셔너리

temp = {}
type(temp)

#85번 딕셔너리

a = {"메로나":1000, "폴라포":1200, "빵빠레":1800} #딕셔너리는 {}에 key:value와 ,로 구분하여 사용한다
print(a)

#86번 딕셔너리 추가

a = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
a["죠스바"] = 1200 #중괄호에 key를 적고 value 값을 추가해주면된다.
a["월드콘"] = 1500
print(a)

#87번 딕셔너리 출력

print(a["메로나"]) #키 값을 출력해달라 요청하면 value값을 출력해준다

#88번 딕셔너리 수정

a["메로나"] = 1300 #추가할 때처럼 key값을 적어주고 value값을 수정해주면된다.
print(a["메로나"])

#89번 딕셔너리 삭제

del a["메로나"] #del를 사용해줘서 key값을 삭제해주면된다.

#90번 에러 원인 찾기

# icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# icecream['누가바'] #딕셔너리에 없는 키를 사용해서 인덱싱하면 에러 발생
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

#91번 딕셔너리 생성

inventory = {"메로나":[300 , 200],
             "비비빅" : [400 , 3],
             "죠스바" : [250 , 100]}
#딕셔너리에 key 값에 value값을 여러개 넣고 싶으면 리스트를 이용하면 된다
print(inventory)

#92번 딕셔너리 인덱싱

print(inventory["메로나"][0]) #변수["key값"][인덱싱번호]의 순서로 요청하면 출력해준다

#93번 딕셔너리 인덱싱

print(inventory["메로나"][1], "개")

#94번 딕셔너리 추가

inventory["월드콘"] = [500, 7] #추가를 원하면 변수[key값] = []로 추가해주면된다.
print(inventory)

#95번 딕셔너리 keys() 매서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys()) #keys() 매서드를 이용하면 key값들을 list할 수 있다
print(ice)

#96번 딕셔너리 values() 매서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values()) #keys()매서드랑 마찬가지로 values()도 작동한다.
print(ice)

#97번 딕셔너리 values() 매서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values())) #values 매서드를 이용해서 밸류값들을 합할수도있다.

#98번 딕셔너리 update 메서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product) #update 메서드를 이용하려면 변수.update()를 사용하면된다.
print(icecream)

#99번 zip과 dict

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = {keys : vals} #출력값 {('apple', 'pear', 'peach'): (300, 250, 400)}
result1 = dict(zip(keys, vals)) #출력값 keys = ("apple", "pear", "peach") zip은 리스트 or 튜플값을 묶어준다

print(result)
print(result1)

#100번 zip과 dict

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
1000
1300
{'메로나': [300, 200], '비비빅': [400, 3], '죠스바': [250, 100]}
300
200 개
{'메로나': [300, 200], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]
6700
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}
{('apple', 'pear', 'peach'): (300, 250, 400)}
{'apple': 300, 'pear': 250, 'peach': 400}
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

파이썬 분기문

101번 ~ 130번

In [57]:
#101번 논리 타입

#파이썬에서 True or False 값을 갖는 데이터는 논리값(boolen)이다

#102번 비교 연산자

# print(3 == 5) 3과 5는 다르므로 False값이 출력된다.

#103번 비교 연산자

print(3 < 5) #True

#104번 비교 연산자

x = 4
print(1 < x < 5) #True

#105번 비교 연산자

print ((3 == 3) and (4 != 3)) #!= 같지않다이므로 둘다 True이므로 True

#106번 연산자 확인

# print(3 => 4) 오류가 발생하는 원인은 없는 연산자이다.

#107번 if문

if 4 < 3: #if 조건 :
  print("Hello World") #아무 것도 출력되지 않는다

#108번 if문

if 4 < 3:
    print("Hello World.")
else: #else 또한 : 붙여야한다
    print("Hi, there.") #조건이 안맞기 때문에 else 값이 출력된다.

#109번 if문

if True : #조건이 참이라서 if의 값이 출력된다.
    print ("1")
    print ("2")
else :
    print("3")
print("4") #if문과 관계없이 출력된다.

#110번 if문

if True : #첫 번째 if값은 참
    if False: #참 일때, false이므로 else값이 실행된다.
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5") #if문과 관계없이 값이 출력된다.

#111번 input

a = input() #사용자로부터 입력을 받고싶으면 input을 사용한다
print(a*2)

#112번 input & 형변환

a = input("숫자를 입력하세요 :") #input 안에 "" 사용하면 문자 출력이 가능하다.
print(int(a)+10) #input에서 받은 값은 문자값이므로 연산을 원하면 형변환을 해줘야한다.

#113번 input & 형변환 & 논리값

a = input("숫자를 입력하세요 : ") #사용자로부터 데이터값을 입력받는다
b = int(a) #입력값은 문자이므로 형변환을 해준다

if b % 2 == 0: # %로 나온 나머지 값을 이용하여서 ==로 논리값을 확인한다.
  print("짝수")
else:
  print("홀수")

#114번 input & if문

입력 = input("숫자를 입력하세요 :") #input()사용
입력값 = int(입력)+20 #형변환

if 입력값 > 255 : #if문 활용
  print(255)
else:
  print(입력값)

True
True
True
Hi, there.
1
2
4
3
5
2
22
숫자를 입력하세요 :3
13
숫자를 입력하세요 : 24
짝수
숫자를 입력하세요 :3
23

In [61]:
#115번 input & if문

입력 = input("숫자를 입력하세요 :") #input() 사용
입력값 = int(입력) - 20 #형변환

if 입력값 > 255: #if 조건 :
  print(255)
elif 입력값 < 0: #elif 조건 : 조건이 많은 경우 elif로 조건을 추가해준다.
  print(0)
else:
  print(입력값)

숫자를 입력하세요 :286
255

In [63]:
#116번 input & if문

time = input("현재시간: ")

if time[-2:] == "00": #인덱스를 이용하여 문자로 판별가능
  print("정각 입니다")
else:
  print("정각이 아닙니다")

현재시간: 1400
정각 입니다

In [69]:
#117번 if문 in 활용

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")

if user in fruit: #fruit 리스트 안(in)에 있는지 확인이 가능하다
  print("정답입니다")
else:
  print("오답입니다")

좋아하는 과일은?수박
오답입니다

In [73]:
#118번 if문 & in

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("투자 종목을 입력해주세요:")

if user in warn_investment_list:
  print("투자 경고 종목입니다")
else:
  print("투자 경고 종목이 아닙니다")

투자 종목을 입력해주세요:Google
투자 경고 종목입니다

In [75]:
#119번 if문 & 딕셔너리

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("계절을 입력해주세요:")

if user in fruit(): #key값을 판정할 때는 keys를 안붙여도된다.
  print("정답입니다")
else:
  print("오답입니다")

계절을 입력해주세요:봄
정답입니다

In [78]:
#120번 if문 & 딕셔너리

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("과일을 입력해주세요:")

if user in fruit.values(): #value값을 판단할 때 values를 안붙이면 오류가 생긴다.
  print("정답입니다")
else:
  print("오답입니다")

과일을 입력해주세요:과일
오답입니다

In [86]:
#121번 if문 & islower() 함수 &upper(),lower()함수 사용

a = input("")

if a.islower(): #islower()은 변수.islower() 사용, 대소문자 판별한다
  print(a.upper()) #upper()도 변수.upper() 사용. 소문자->대문자
else:
  print(a.lower()) #lower()도 변수.lower() 사용. 대문자->소문자

E
e

In [92]:
#122번 점수 판별 if문

score = input("점수를 입력하시오: ")
num = int(score)

if 81 <= num <= 100:
  print("grade is A")
elif 61 <= num <= 80:
  print("grade is B")
elif 41 <= num <= 60:
  print("grade is C")
elif 21 <= num <= 40:
  print("grade is D")
else:
  print("grade is E")

점수를 입력하시오: 99
grade is A

In [97]:
#123번 split과 if문 활용

a = input("환전하려는 통화를 입력하세요 :")
b = a.split() #split()을 이용하여 공백을 기준으로 나눠준다.
c, d = b #액수는 c로, 통화는 d로 구분해준다.
c = float(c) #엔화가 실수이므로 실수로 형변환 해준다.

if d == "달러":
  print(c*1167,"원")
elif d == "엔" :
  print(c*1.096,"원")
elif d == "유로" :
  print(c*1268,"원")
elif d == "위안":
  print(c*171,"원")

#정답

# 환율 = {"달러": 1167,  #환율을 딕셔너리에 넣어준다
#         "엔": 1.096,
#         "유로": 1268,
#         "위안": 171}
# user = input("입력: ")
# num, currency = user.split() #숫자와 통화를 분리해준다.
# print(float(num) * 환율[currency], "원")

환전하려는 통화를 입력하세요 :1424 달러
1661808.0 원

In [99]:
#124번 max(), 리스트 활용

a = input("첫 번째 숫자:")
b = input("두 번째 숫자:")
c = input("세 번째 숫자:")
num = [int(a), int(b), int(c)] #입력받은 숫자를 리스트로 묶어준다.
max(num) #max()로 세 숫자 중 제일 큰 숫자를 출력한다.

첫 번째 숫자:4
두 번째 숫자:7
세 번째 숫자:14

14

In [103]:
#125번

phone = input("핸드폰 번호를 입력하세요:")

if phone[0:3] == "011":
  print("SKT")
elif phone[0:3] == "016":
  print("KT")
elif phone[0:3] == "019":
  print("LGU")
elif phone[0:3] == "010":
  print("알 수 없음")

핸드폰 번호를 입력하세요:019
LGU

In [105]:
#126번

a = input("우편번호를 입력하세요:")

if a[:3] in ["010", "011", "012"]: #우편번호의 3번째까지 값이 필요하니 인덱스 3전까지 출력해서 판별한다.
  print("강북구")
elif a[:3] in ["013", "014", "015"]: #각 구마다 여러값을 가지므로 리스트로 묶어서 판별한다.
  print("도봉구")
elif a[:3] in ["016", "017", "018", "019"]:
  print("노원구")

우편번호를 입력하세요:01642
노원구

In [110]:
#127번

a = input("주민등록번호:")

if a[7] in ["1", "3"]: #뒷 7자리 중 첫째 자리를 인덱싱해서 판별
  print("남자")
elif a[7] in ["2", "4"]:
  print("여자")

주민등록번호:4

IndexError: string index out of range

In [112]:
#128번

a = input("주민등록번호:")

if a[8:10] in ["01", "02", "03", "04", "05", "06", "07", "08"]:
  print("서울")
elif a[8:10] in ["09", "10", "11", "12"]:
  print("부산")

주민등록번호:456789-10945
부산

In [115]:
#129번

a = input("주민등록번호: ")
b = int(a[13])

if b == 11-(int(a[0])*2 + int(a[1])*3 + int(a[2])*4 + \
            int(a[3])*5 + int(a[4])*6 + int(a[5])*7 + \
            int(a[7])*8 + int(a[8])*9 + int(a[9])*2 + \
            int(a[10])*3 + int(a[11])*4 + int(a[12])*5)%11:
  print("유효한 등록번호입니다.")
else:
  print("유효하지 않은 등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 등록번호입니다.

In [117]:
#130번

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data'] #데이터 불러오기

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장