<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_201%EB%B2%88_~_250%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 300제

함수

201번 ~ 240번

In [1]:
#201번

def print_coin(): #def 함수명(매개변수)
  print("비트코인")

In [3]:
#202번

print_coin() #함수를 호출하면 비트코인을 출력하는 것을 볼 수 있다.

비트코인

In [4]:
#203번

def print_coin():
  for i in range(100):
    print("비트코인")

In [5]:
#204번

# hello() 함수가 정의되기 전에 호출하면 에러가 발생한다
def hello():
  print("Hi")

NameError: name 'hello' is not defined

In [ ]:
#206번

def message() : #함수정의
    print("A")
    print("B")

message()
print("C")
message()

In [6]:
#207번

print("A") #A출력

def message() : #함수정의
    print("B")

print("C") #C출력
message() #B 출력

A
C
B

In [7]:
#208번

print("A") #A 출력
def message1() :
    print("B")
print("C") #C 출력
def message2() :
    print("D")
message1() #B출력
print("E") #E 출력
message2() #D 출력

A
C
B
E
D

In [8]:
#209번

def message1():
    print("A")

def message2():
    print("B")
    message1() #A 출력 후에 출력된다.

message2() #B출력 먼저 출력된다.

B
A

In [9]:
#210번

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3() #함수가 정의된대로 출력된다. for문이 실행되고 message1이 마지막에 실행된다.

B
C
B
C
B
C
A

In [10]:
#211번

def 함수(문자열) :
    print(문자열)

함수("안녕") #"안녕" 출력
함수("Hi") #"Hi" 출력

안녕
Hi

In [11]:
#212번

def 함수(a, b) :
    print(a + b)

함수(3, 4) #7이 출력된다
함수(7, 8) #15가 출력된다

7
15

In [ ]:
#213번

def 함수(문자열) :
    print(문자열)

함수() #함수에 정의된대로 호출을 안해서 오류가 발생한다
TypeError: 함수() missing 1 required positional argument: '문자열'

In [12]:
#214번

def 함수(a, b) :
    print(a + b)

# 함수("안녕", 3) 같은 타입으로 매개변수를 입력해줘야한다.
# TypeError: must be str, not int

안녕하소

In [15]:
#215번

def print_with_smile(str):
  print(str+":D")

print_with_smile("자몽")

자몽:D

In [16]:
#216번

print_with_smile("안녕하세요")

안녕하세요:D

In [17]:
#217번

def print_upper_price(i):
  print(i*1.3)

print_upper_price(13000)

16900.0

In [18]:
#218번

def print_sum(a, b):
  print(a+b)

print(1000+2000)

3000

In [21]:
#219번

def print_arithmetic_operation(a, b):
  print(a + b)
  print(a - b)
  print(a * b)
  print(a / b)

print_arithmetic_operation(5, 6)

11
-1
30
0.8333333333333334

In [23]:
#220번

def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

print_max(5, 6, 13)

13

In [24]:
#221번

def print_reverse(a):
  print(a[::-1])

print_reverse("python")

nohtyp

In [26]:
#222번

def print_score(i):
  print(sum(i)/len(i))

print_score([100, 98, 30])

76.0

In [31]:
#223번

def print_even(my_list):
  for v in my_list: #for문을 활용해서 숫자를 입력해준다.
    if v % 2 == 0: #if문을 이용해서 짝수인지 판별한다.
      print(v)

print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [34]:
#224번

def print_keys(i):
  for a in i.keys(): #keys()를 이용해서 keys값들을 모아준다.
    print(a)

print_keys({"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]})

10/26
10/27

In [38]:
#225번

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key) :
    print(my_dict[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [42]:
#226번

def print_5xn(str):
    t = int(len(str) / 5)
    for x in range(t + 1) :
        print(str[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸11")

아이엠어보
이유알어걸
11

In [46]:
#227번

def print_mxn(string, i):
  a = int(len(string)/i)
  for b in range(a+1):
    print(string[b*i: b*i+i])

print_mxn("아이엠어보이유알어걸", 8)

아이엠어보이유알
어걸

In [52]:
#228번

def calc_monthly_salary(annual_pay) :
  print(int(annual_pay / 12))

calc_monthly_salary(1236400000)

103033333

In [53]:
#229번

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200) #왼쪽 : 100 \n 오른쪽 200이 출력된다.

왼쪽: 100
오른쪽: 200

In [54]:
#230번

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
#위에 문제와 같은 결과값을 얻는다. 함수에서 왼쪽을 먼저 출력하라고했기때문이다

왼쪽: 200
오른쪽: 100

In [55]:
#231번

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
#print (result) 에러가 발생한다. 함수 내부값을 전달하고 싶으면 return값을 사용해야한다.

In [61]:
#232번

def make_url(string) :
    return "www." + string + ".com"

make_url("naver")

'www.naver.com'

In [63]:
#233번

def make_list(i):
  return list(i) #형변환을 해주면 된다.

make_list("abcd")

['a', 'b', 'c', 'd']

In [64]:
#234번

def pickup_even(a):
  for b in a:
    if b % 2 == 0:
      print(b)

pickup_even([1,4,32,4,4,5,6,7,8])

4
32
4
4
6
8

In [68]:
#235번

def convert_int(str):
  return int(str.replace(',', ''))

convert_int("1,234,576")

1234576

In [69]:
#236번

def 함수(num) :
    return num + 4

a = 함수(10) #a = 14
b = 함수(a) #b = 18
c = 함수(b) #c = 22
print(c) #c = 22

22

In [70]:
#237번

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10))) #10+4+4+4
print(c) #22

22

In [71]:
#238번

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) #10+4=14
c = 함수2(a) #14*10=140
print(c) #140

140

In [72]:
#239번

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10) #10+2=12+4=16
print(c) #16

16

In [74]:
#240번

def 함수0(num) : #함수(14)
    return num * 2 #14*2=28

def 함수1(num) :
    return 함수0(num + 2) #함수0(12+2)

def 함수2(num) :
    num = num + 10 #10+2
    return 함수1(num) #함수1(12)

c = 함수2(2)
print(c) #28

28

파이썬 모듈

241번 ~ 250번

In [75]:
#241번

import datetime #모듈 호출

now = datetime.datetime.now()
print(now)

2025-03-30 21:05:15.399029

In [76]:
#242번

import datetime #모듈 호출

now = datetime.datetime.now()
print(now, type(now))

2025-03-30 21:06:11.721737 <class 'datetime.datetime'>

In [89]:
#243번

import datetime #모듈호출

now = datetime.datetime.now() #now 정의

for i in range(-5, 0):
    delta = datetime.timedelta(days=i) #datetime.timedelta 호출
    print(now + delta)


# now = datetime.datetime.now()
# delta = datetime.timedelta(hours=1) hours, seconds, minutes 등 다양하게 활용가능하다

2025-03-25 21:18:45.068867
2025-03-26 21:18:45.068867
2025-03-27 21:18:45.068867
2025-03-28 21:18:45.068867
2025-03-29 21:18:45.068867

In [78]:
#244번

import datetime #모듈 호출

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S")) #포맷에 맞게만 출력한다

21:08:27

In [79]:
#245번

import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [80]:
#246번 sleep 함수

# import time
# import datetime

# while True:
#     now = datetime.datetime.now()
#     print(now)
#     time.sleep(1) sleep() 숫자만큼 멈춰준다

2025-03-30 21:09:12.022297
2025-03-30 21:09:13.022528
2025-03-30 21:09:14.022841
2025-03-30 21:09:15.023137
2025-03-30 21:09:16.023377

KeyboardInterrupt:

In [81]:
#247번 모듈 임포트

import os                 # os.rename()
from os import rename     # rename()
from os import *          # getcwd(), rename(), ....
import os as myos         # myos.getcwd() 모듈이름 사용자 정의로 변경

In [82]:
#248번 OS모듈

import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [88]:
#249번 rename함수

# import os
# os.rename("C:/Users/20150105A/Desktop/before.txt", "C:/Users/20150105A/Desktop/after.txt")

In [84]:
#250번 numpy 모듈

import numpy #numpy 모듈을 호출한다.
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9