<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%20300%EC%A0%9C%201%EB%B2%88%20~%2070%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 300제 문제 풀이

파이썬 시작하기

1번 ~ 10번

In [3]:
#1번
print("Hello World") #print = 출력
#2번
print("Mary's cosmetics") #중간 기호 주의해서 print 사용
#3번
print('신씨가 소리질렀다. "도둑이야".') #2번과 같은 문제
#4번
print('C:\Windows') #역슬래쉬 표현
#5번
print("안녕하세요. \n만나서\t\t반갑습니다.") #\n 줄바꿈 \t는 4칸 이동
#6번
print("오늘은", "일요일") #여러값 출력 쉼표(,)를 사용한다
#7번
print("naver", "kakao", "samsung", sep=";") #sep함수를 이용한 출력방법 변경
#8번
print("naver", "kakao", "sk", "samsung", sep="/") #07번과 같은 문제
#9번
print("first",end="");print("second") #줄바꿈 없이 출력방법, 세미콜론(;) 한줄에 여러개의 명령어 작성 가능
#10번
print(5/3) #파이썬은 인터프리터언어로 형변환을 자동으로 해준다

Hello World
Mary's cosmetics
 신씨가 소리질렀다. "도둑이야".
C:\Windows
 안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;samsung
naver/kakao/sk/samsung
firstsecond
1.6666666666666667

파이썬 변수

11번 ~ 20번

In [23]:
#11번 변수선언

삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

#12번 변수의 타입은?

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

#13번 문자열 출력

s = "hello"
t = "python"

print(s+"!",t)

#14번 계산하기/우선순위

print(2+2*3)

#15번 type함수 사용

print(type("132"))

#16번 형변환

num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

#17번 형변환

num = 100
result = str(num) #형변환
print(result, type(result))

#18번 형변환(문자->실수)

n_str = "15.79"
n_float = float(n_str) #형변환
print(n_float+1.1 , type(n_float))

#19번 문자열을 정수로 변환(문자->정수)

year = "2020"
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

#20번 계산 변수 사용
a = 48584
b = a*36
print("월 48584원에 무이자 36개월 조건의 에어컨 가격은", b )

500000
2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>
hello! python
8
<class 'str'>
721 <class 'int'>
100 <class 'str'>
16.89 <class 'float'>
2019
2018
2017
월 48584원에 무이자 36개월 조건의 에어컨 가격은 1749024

파이썬 문자열

21번 ~ 50번

In [83]:
#21번 문자열 인덱싱

letters = "python"
print(letters[0], letters[2])

#22번 문자열 슬라이싱

license_plate = "24가 2210"
print(license_plate[4:])

#23번 문자열 인덱싱

string = "홀짝홀짝홀짝"
print(string[::2]) #[시작, 끝, 오프셋]

#24번 문자열 슬라이싱

string = "PYTHON"

print(string[::-1])

#25번 문자열 치환

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ") #replace 메서드는 문자열 일부 치환이 가능하다. 문자열은 수정할 수 없는 자료형.
print(phone_number1)

#26번 문자열 다루기

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '') #기존 문자열 그대로 두고 치환된 새로운 문자열이 리턴된다.
print(phone_number1)

#27번 문자열 다루기

url = "http:\\sharebook.kr"
url_split = url.split('.') #split을 이용하여 .을 기준으로 분리
print(url_split[1])

#28번 문자열은 immutable

#lang = 'python'
#lang[0] = 'P' #문자열은 수정 불가. 문자열은 할당 메서드 지원하지 않음
#print(lang)

#29번 replace 메서드

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

#30번 replace 메서드 29번은 a가 대문자로 바뀌었지만 30번은 똑같은 값이 출력됨 이유는 문자열은 변경할 수 없는 자료형이기 때문이다.

string = 'abcd'
string.replace( 'b', 'B') #원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.
print(string)
string = string.replace( 'b', 'B')
print(string)

#31번 문자열 합치기

a = "3"
b = "4"
print(a+b) #문자열이기 때문에 7이 아닌 34가 출력

#32번 문자열 곱하기

print("Hi"*3)

#33번 문자열 곱하기

print("-"*80)

#34번 문자열 곱하기

t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' ' #띄어쓰기를 위해 새로운 변수 정의
print(t3*4)

#35번 문자열 출력

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1)) #% formating을 사용하려면 "포맷 문자열" % 값
print("이름: %s 나이: %d" % (name2, age2)) #"포맷 문자열 %s %d" % (값1, 값2)

#36번 문자열 출력 format() 매서드

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

#37번 f-string 사용

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

#38번 컴마 제거하기

a = "5,969,782,550"
b = a.replace(",","") #replace로 , 제거
c = int(b) #형변환
print(c)

#39번 문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

#40번 strip 메서드

data = "    삼성전자    "
data1 = data.strip() #strip을 이용하면 좌우 공백이 사라진 새로운 문자열이 반환된다.
print(data1)

#41번 upper 메서드

ticker = "btc_krw"
print(ticker.upper()) #upper을 사용하면 대문자로 만들 수 있다. 새로운 객체가 반환되는 것

#42번 lower 메서드

ticker = "BTC_KRW"
print(ticker.lower()) #lower 메서드를 사용하면 소문자로 만들 수 있다. 이 경우도 새로운 객체가 반환되는 것이다.

#43번 a.capitalize()

a = "hello"
a = a.capitalize() #첫 번째 문자를 대문자로 바꾸고, 나머지 문자들은 소문자로 변경. 새로운 객체가 반환
print(a)

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
Abcdfe2A354A32A
abcd
aBcd
34
HiHiHi
--------------------------------------------------------------------------------
python java python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
5969782550
2020/03
삼성전자
BTC_KRW
btc_krw
Hello

True

In [ ]:
#44번 endswith 메서드

file_name = "보고서.xlsx"
file_name.endswith("xlsx") #문자열이 특정 문자 또는 문자열로 끝나는지 여부를 확인. 논리값 반환

In [ ]:
#45번 endswith 메서드

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls")) #튜플 중 하나만 맞아도 True값을 반환한다.

In [86]:
#46번 startswith 메서드

file_name = "2020_보고서.xlsx"
file_name.startswith("2020") #문자열이 특정 문자 또는 문자열로 시작하는지 여부를 확인. 논리값 반환

True

In [88]:
#47번 split 메서드

a = "hello world"
a.split() #split 메서드는 문자열에서 공백을 기준으로 분리해준다.

['hello', 'world']

In [89]:
#48번 split 메서드

ticker = "btc_krw"
ticker.split("_") #_값을 넘겨줘서 _값을 기준으로 분리

['btc', 'krw']

In [90]:
#49번 split 메서드

date = "2020-05-01"
date.split("-") #-을 기준으로 분리

['2020', '05', '01']

In [92]:
#50번 rstrip 메서드

data = "039490        "
data.rstrip()
"""오른쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다. data라는 변수가 새로 바인딩합니다.
기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제"""

a = "           242424"
a.lstrip()

"""왼쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다. a라는 변수가 새로 바인딩합니다.
기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제"""

'242424'

STRIP에 관환 설명

![142.PNG]()

오른쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다. data라는 변수가 새로 바인딩합니다.
기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제

파이썬 리스트


51번 ~ 70번

In [119]:
#51번 리스트 생성

MovieRank=["닥터 스트레인지", "스플릿", "럭키"]

#52번 리스트에 원소 추가

MovieRank.append("배트맨") #append()를 사용해서 리스트에 추가해준다.

#53번 리스트에 원소 추가

MovieRank.insert(1 , "슈퍼맨") #insert를 사용하면 특정위치에 값을 끼어넣을 수 있다.

#54번 리스트에 원소 삭제

del MovieRank[3] #del를 사용하면 삭제를 시킬수있다.

#55번 리스트에 원소 삭제

MovieRank1 = ["닥터 스트레인지", "슈퍼맨", "스플릿", "배트맨"]
del MovieRank1[2] #del를 리스트에 원소 삭제 가능
del MovieRank1[2] #del 삭제 후 새로운 값을 인덱싱합니다. 새로 인덱싱된 값을 생각해서 삭제해야한다.
print(MovieRank1)

#56번 리스트 합치기

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2 #리스트를 합치려면 +이용해주면된다.
print(langs)

#57번 리스트 최댓값 최솟값 출력

nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums)) #최댓값은 max()
print("min: ", min(nums)) #최솟값은 min()

#58번 리스트의 합

nums = [1, 2, 3 ,4, 5]
print("sum =", sum(nums)) #합은 sum()을 이용해준다

#59번 리스트의 저정된 데이터의 개수

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print("데이터개수는", len(cook)) #len은 안에 들어있는 데이터 개수를 알려준다

#60번 리스트의 평균

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

#61번 슬라이싱

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

#62번 슬라이싱

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

#63번 슬라이싱

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

#64번 슬라이싱

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::-1])

#65번 list 출력

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

#66번 join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest)) #join 매서드로 공백을 추가해줘서 데이터 중간에 공백을 추가할 수 있다.

#67번 join 매서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

#68번 join 매서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

#69번 split 매서드

string = "삼성전자/LG전자/Naver"
interest = string.split("/") #/을 기준으로 문자를 분리해주고 interest에 새로 저장
print(interest)

#70번 리스트 정렬

data = [2, 4, 3, 1, 5, 10, 9]
data.sort() #sort()를 사용하면 default값은 오름차순으로 정의된다.
print(data)

['닥터 스트레인지', '슈퍼맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
max:  7
min:  1
sum = 15
데이터개수는 12
3.0
[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
삼성전자 Naver
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
['삼성전자', 'LG전자', 'Naver']
[1, 2, 3, 4, 5, 9, 10]