<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_131%EB%B2%88_~_200%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 300제

파이썬 반복문

131번 ~ 200번

In [1]:
#131번 for문

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수) #리스트에 있는 문자열이 한라인에 하나씩 출력

사과
귤
수박

In [3]:
#132번 for문

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####") #세 개의 데이터가 저장돼 있으므로 코드가 세 번 실행된다.

#####
#####
#####

In [5]:
#133번 for문

for 변수 in ["A", "B", "C"]:
  print(변수)

print("A") #위의 코드와 동일한 기능을 수행한다.
print("B")
print("C")

A
B
C
A
B
C

In [6]:
#134번 for문

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [8]:
#135번 for문

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A" #1번 루프
b = 변수.lower()
print("변환:", b)
변수 = "B" #2번 루프
b = 변수.lower()
print("변환:", b)
변수 = "C" #3번 루프를 마치고 종료된다.
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [9]:
#136번 for문

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10, 20, 30]: #for문은 for x in sequence:
  print(변수) #실행문

10
20
30
10
20
30

In [ ]:
#137번 for문

print(10)
print(20)
print(30)

for x in [10, 20, 30]:
  print(x)

In [12]:
#138번 for문

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for x in [10, 20, 30]:
  print(x, "\n-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [13]:
#139번 for문

print("++++") #++++은 반복되지 않는다
print(10)
print(20)
print(30)

print("++++") #반복되지 않으므로 for문에 넣으면 안된다.
for x in [10, 20, 30]:
  print(x)

++++
10
20
30
++++
10
20
30

In [14]:
#140번 for문

print("-------")
print("-------")
print("-------")
print("-------")

for 변수 in [1, 2, 3, 4]: #자료구조를 4개의 데이터값으로 해주면 4번 실행된다.
  print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [15]:
#141번 for문

for a in [100, 200, 300]:
  print(a+10)

110
210
310

In [16]:
#142번 for문

for a in ["김밥", "라면", "튀김"]:
  print("오늘의 메뉴:", a)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [17]:
#143번 len()활용

for a in ["SK하이닉스", "삼성전자", "LG전자"]:
  print(len(a))

6
4
4

In [18]:
#144번 인덱스 활용

for a in ['dog', 'cat', 'parrot']:
  print(a[0])

d
c
p

In [19]:
#145번 len()활용

for a in ['dog', 'cat', 'parrot']:
  print(a, len(a))

dog 3
cat 3
parrot 6

In [20]:
#146번 for문 활용

for a in [1, 2, 3]:
  print("3 x",a)

3 x 1
3 x 2
3 x 3

In [21]:
#147번 for문 활용

for a in [1, 2, 3]:
  print("3 x ", a, "=", 3*a)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [30]:
#148번 for문 활용

a = ["가", "나", "다", "라"]

for b in a[1:]:
  print(b)

나
다
라

In [31]:
#149번 for문

a = ["가", "나", "다", "라"]

for b in a[0::2]:
  print(b)

가
다

In [33]:
#150번 for문

a = ["가", "나", "다", "라"]

for b in a[::-1]:
  print(b)

라
다
나
가

In [36]:
#151번 for문

a = [3, -20, -3, 44]

for b in a:
  if b < 0:
    print(b)

-20
-3

In [37]:
#152번 for문

a = [3, 100, 23, 44]

for b in a:
  if b % 3 == 0:
    print(b)

3

In [40]:
#153번 for문

a = [13, 21, 12, 14, 30, 18]

for b in a:
  if (b < 20) and (b % 3 == 0): #20보다 작고 3의 배수이니 두 조건을 and연산자를 사용해서 판별한다.
    print(b)

12
18

In [41]:
#154번

a = ["I", "study", "python", "language", "!"]

for b in a:
  if len(b) > 3: #len()를 이용하여 문자수 판별
    print(b)

study
python
language

In [43]:
#155번 isupper()

a = ["A", "b", "c", "D"]

for b in a:
  if b.isupper() == 1: #isupper()은 대문자를 판별한다
    print(b)

A
D

In [44]:
#156번 islower()

a = ["A", "b", "c", "D"]

for b in a:
  if b.islower() == 1:
    print(b)

b
c

In [48]:
#157번 upper()

a = ['dog', 'cat', 'parrot']

for b in a:
  print(b[0].upper()+b[1:]) #upper()을 사용하여 첫번째 글자를 대문자로 바꿔준다.

Dog
Cat
Parrot

In [50]:
#158번 split()

a = ['hello.py', 'ex01.py', 'intro.hwp']

for b in a:
  b = b.split(".") #.을 기준으로 분리해준다.
  print(b[0]) #확장자 앞의 글자만 출력이된다.

hello
ex01
intro

In [52]:
#159번 split()

a = ['intra.h', 'intra.c', 'define.h', 'run.py']

for b in a:
  c = b.split(".") #c로 b의 변수들을 나눠준 것을 새로 정의한다.
  if c[1] == "h":
    print(b)

intra.h
define.h

In [55]:
#160번 split(), 논리 연산자

a = ['intra.h', 'intra.c', 'define.h', 'run.py']

for b in a:
  c = b.split(".")
  if (c[1] == "h") or (c[1] == "c"):
    print(b)

intra.h
intra.c
define.h

In [58]:
#161번 for문 range 구문

for a in range(100):
  print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [59]:
#162번 for문 range()

for i in range(2002, 2050, 4): #range(,,) 1번 시작, 2번 끝, 3번 증감폭
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [62]:
#163번 for문 range()

for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [73]:
#164번 for문 range()

for i in range(99, -1, -1): #증감폭에 음수값을 넣고 싶으면 시작값이 큰 값, 마지막값이 작은값이 되야한다.
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [74]:
#165번 for문 range()

# for i in range(0, 1, 0.1):
#     print(i) 오류가 발생한다. range()는 실수를 지원하지 않는다.

for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [75]:
#166번 구구단

for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [76]:
#167번 구구단 출력

for i in range(1, 10, 2) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [79]:
#168번

hap = 0 #hap이라는 변수 지정
for i in range(11): #10까지 더해야하므로 11로 range를 설정한다.
  hap += i
print(hap)

55

In [80]:
#169번 홀수의 합

hap = 0

for i in range(1, 11, 2): #홀수의 합만 더해야하므로 증감폭을 설정해준다.
  hap += i
print(hap)

25

In [83]:
#170번 곱셈

x = 1 #곱셈인걸 유의해서 0이 아닌 값으로 설정해준다

for i in range(1, 11): #0이 들어가면 곱셈의 값이 0이되므로 주의한다
  x *= i
print(x)

3628800

In [86]:
#171번 for문 len()활용

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)): #len()을 사용하면 리스트가 변해도 코드의 수정이 필요없다.
  print(price_list[i]) #price_list의 데이터 값만큼 출력해준다.

32100
32150
32000
32500

In [92]:
#172번 for문 range()

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

price_list = [32100, 32150, 32000, 32500] #두가지 방법 모두 활용가능

for i, data in enumerate(price_list): #enumerate를 이용하여 인덱스값도 가져올 수 있다.
    print(i, data)

0 32100
1 32150
2 32000
3 32500
0 32100
1 32150
2 32000
3 32500

In [95]:
#173번

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [98]:
#174번

price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [105]:
#175번

my_list = ["가", "나", "다", "라"]

for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [107]:
#176번

my_list = ["가", "나", "다", "라", "마"]

for i in range( 1, len(my_list)-1):
  print( my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [108]:
#177번

my_list = ["가", "나", "다", "라"]

for i in [3, 2, 1] :
    print(my_list[i], my_list[i-1])

for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])


for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [110]:
#178번

my_list = [100, 200, 400, 800]

for i in range(1, len(my_list)):
  print(abs(my_list[i-1]-my_list[i])) #절대값으로 출력해야함으로 abs를 써준다

100
200
400

In [112]:
#179번

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-1):
  print((my_list[i-1]+my_list[i]+my_list[i+1])/3)

533.3333333333334
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [121]:
#180번

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = [None, None, None, None, None]

for i in range(len(low_prices)):
   volatility[i] = high_prices[i]-low_prices[i]

print(volatility)

[50, 100, 30, 80, 0]

In [122]:
#181번 list 정의

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ] #list는 자료 구조를 포함할 수 있다.

print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [123]:
#182번 list 정의

stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ] #list는 자료구조를 포함할 수 있다.

In [125]:
#183번 딕셔너리 표현

stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] } #리스트로 value값을 저장할 수 있다.
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
#184번 딕셔너리 표현

stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [128]:
#185번 리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart: #리스트 안에 값 출력
  print(a)
  for b in a: #리스트 안에 리스트 안에 값 출력
    print(b, "호")

[101, 102]
101 호
102 호
[201, 202]
201 호
202 호
[301, 302]
301 호
302 호

In [129]:
#186번 리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart[::-1]: #리스트 안에 값 출력
  print(a)
  for b in a: #리스트 안에 리스트 안에 값 출력
    print(b, "호")

[301, 302]
301 호
302 호
[201, 202]
201 호
202 호
[101, 102]
101 호
102 호

In [131]:
#187번 리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart[::-1]: #리스트 안에 값 출력, 역으로 불러준다
  print(a)
  for b in a[::-1]: #리스트 안에 리스트 안에 값 출력, 또 역으로 불러준다
    print(b, "호")

[301, 302]
302 호
301 호
[201, 202]
202 호
201 호
[101, 102]
102 호
101 호

In [133]:
#188번 리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart: #리스트 안에 값 출력
  for b in a: #리스트 안에 리스트 안에 값 출력
    print(b, "호 \n-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [137]:
#189번 리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart: #리스트 안에 값 출력
  for b in a: #리스트 안에 리스트 안에 값 출력
    print(b, "호")
  print("-----") #들여쓰기로 조절해준다.

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [138]:
#190번 리스트 출력, 들여쓰기의 중요성

apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart: #리스트 안에 값 출력
  for b in a: #리스트 안에 리스트 안에 값 출력
    print(b, "호")
print("-----") #들여쓰기로 조절해준다.

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [139]:
#191번

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
  for b in a:
    print(b*1.0014)

2002.8000000000002
3054.27
2052.8700000000003
1982.7720000000002
7510.500000000001
2052.8700000000003
2052.8700000000003
1982.7720000000002
15471.630000000001
15071.070000000002
15571.77
14920.86

In [140]:
#192번

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
  for b in a:
    print(b*1.0014)
  print("------") #위치에 맞게 들여쓰기를  해줘야한다

2002.8000000000002
3054.27
2052.8700000000003
1982.7720000000002
------
7510.500000000001
2052.8700000000003
2052.8700000000003
1982.7720000000002
------
15471.630000000001
15071.070000000002
15571.77
14920.86
------

In [147]:
#193번

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for a in data:
  for b in a:
    result.append(b * 1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [149]:
#194번

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for a in data:
    c = []
    for b in a:
        c.append(b * 1.00014)
    result.append(c)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
#195번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

In [ ]:
#196번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

In [ ]:
#197번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

In [150]:
#198번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

In [151]:
#199번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [152]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])