<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/exe0307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Special Literal & literal collections

None : 생성되지 않았음을 지정
리터럴 모음 방법 : list, tuple, dict, set 등

In [ ]:
drink = "Available"
food = None
coffee = "Today Available"

def menu (x) :
    if x == drink :
        print(drink)
    elif x == food :
        print(food)
    else:
        print(coffee)

menu(drink)
menu(food)
menu(coffee)

Available
None
Today Available

In [ ]:
fruits = ["watermelon", "mango", "apple"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i', 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['watermelon', 'mango', 'apple']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'i', 'u', 'o', 'a'}

Python data types

파이썬 프로그래밍의 모든 것은 객체이고, 이들은 데이터 유형을 가짐
데이터 형(data types)은 실제로는 클래스(class)이고, 변수(variable)은 클래스의 인스턴스(instance)(객체(object)) 임
종류 : number, string, list, tuple, set, dictionary

Python data types : number

정수 : 메모리 가용한 범위내에서 길이 제한 없음
실수 : 소수점 이하 15자리까지 정확

In [ ]:
# Ouput : 5 is of type <class 'int'>
a = 5
print(a, "is of type", type(a))

# Ouput : 3.5 is of type <class 'float'>
a = 3.5
print(a, "is of type", type(a))

# Ouput : (2+3.14j) is complex number? True
a = 2+3.14j
print(a, "is complex number?", isinstance(2+3.14j,complex))

5 is of type <class 'int'>
3.5 is of type <class 'float'>
(2+3.14j) is complex number? True

Python data types : list

Item의 순서가 지정된 목록(list)

list의 item이 다른 유형도 가능

선언 : 대괄호(brackets) [ ] 내부에 쉼표(,)로 구분하여 item 나열

Item의 인덱스(index)는 0 부터 시작

Item 변경 가능

In [ ]:
a = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Output : a[3] = 8
print("a[3] = ", a[3])

# Output : a[0:2] = [2, 4]
print("a[0:2] = ", a[0:2])

# Output : a[4:] = [10, 12, 14, 16, 18, 20]
print("a[4:] =", a[4:])

# Output : [0, 4, 6, 8, 10, 12, 14, 16, 18, 20]
a[0] = 0; print(a)

a[3] =  8
a[0:2] =  [2, 4]
a[4:] = [10, 12, 14, 16, 18, 20]
[0, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Python data types : tuple

List와 기능 동일하지만, 선언 이후에는 변경 불가능
일반적으로, list보다 속도가 빠름

선언 : 괄호(parentheses) ( ) 내부에 쉼표(,)로 구분하여 item 나열

Item의 인덱스(index)는 0 부터 시작

In [ ]:
e = (1,'earth', 1+9.15j)

# e[1] = 'earth'
print("e[1] = ", e[1])

# e[0:3] = (1, 'earth', (1+9.15j))
print("e[0:3] = ", e[0:3])

# Generates error
# Tuples are immutable
e[0] = 5

e[1] =  earth
e[0:3] =  (1, 'earth', (1+9.15j))

TypeError: 'tuple' object does not support item assignment

In [ ]:
e = (1,'earth', [1,3,5,7,9])

e[2][3]=15
print(e[2][3])

15

Python data types : string

유니코드 문자들의 나열

list, tuple 처럼 슬라이싱 연산자 [ ]를 사용하여 접근가능

Slicing operation을 통해 변경 불가능

Enumerate()을 통해 인덱스와 값(글자)의 쌍 생성 가능

In [ ]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

In [ ]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] =", s[4])
#s[6:11] = 'world'
print("s[6:11] = ", s[6:11])
# Generates error : Strings are immutable in Python
s[5] ='d'

s[4] = o
s[6:11] =  world

TypeError: 'str' object does not support item assignment

In [ ]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) =', list_enumerate)

#character count
print('len(str) =', len(str))

list(enumerate(str) = [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) = 4

Python data types : set

고유한(unique) item 들의 정렬되지 않은 모임

선언 : 중괄호(braces) {} 내부에 쉼표(,)로 구분하여 item 나열

Slicing operation을 통해 접근 불가

변경 가능한 아이템(list 등)은 가질 수 없음

아이템 추가, 제거 가능

add(), update()

discard(), remove()

In [ ]:
a = {1,3,3,3,3,4,4,4,4}
print(a)

{1, 3, 4}

In [ ]:
a = {2,3,1,5,6,7,5,}

# printing set variable
print("a=", a)
# data type of variable a
print(type(a))

a= {1, 2, 3, 5, 6, 7}
<class 'set'>

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

#add multiple elements
# Output: {1, 2, 3,4}
my_set.update([2, 3, 4])
print(my_set)

#add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [ ]:
st_ang = {3,5, 'cj'}

st_ang.discard(10)
print(st_ang)

st_ang = {3,5, 'cj'}

st_ang.remove(3)
print(st_ang)

{'cj', 3, 5}
{'cj', 5}

Python data types : dictionary

Key-value 쌍(pair)의 정렬되지 않은 모음

데이터의 양이 많을 때 주로 사용함

데어터 검색(retrieving data)에 최적화 되어 있음

Key를 통해 value 검색

선언 : 중괄호(braces) {} 내부에 쉼표(,)로 구분하여 key:value 나열

key, value은 데이터 형에 무관

In [ ]:
d = {1:'value','key':2}
print(type(d))

print("d[1] =", d[1])

print("d['key'] = ", d['key'])

# Generates error
print("d[2] = ", d[2])

<class 'dict'>
d[1] = value
d['key'] =  2

KeyError: 2

Phython type conversion and type casting

Implicit (암시/암묵적 변경)

파이썬이 자동으로 형변환 실시

사용자 개입이 필요치 않음

In [ ]:
num_int =123
num_flo = 1.23

num_new = num_int + num_flo
print("datatype of num_int:", type(num_int))
print("datatype of num_flo:", type(num_flo))

print("Value of num_new:", num_new)
print("datatype of num_new:", type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_unt = 123; num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

# Error
print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Pyhton type conversion and type casting

Explicit(명시적 변경) / typecasting

사용자가 원하는 형태로 변경

int() 정수, float() 실수, str() 문자 등

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:", type(num_int))
print("Data type of num_str before Type Casting:", type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:", type(num_str))

num_sum = num_int + num_str
print("Sum of num_int and num_str:", num_sum)
print("Data type of the sum:", type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>