<a href="https://colab.research.google.com/github/jini-c/exe/blob/main/set_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98_%EC%84%A4%EB%AA%85%EA%B3%BC_%EC%98%88%EC%8B%9C(%EB%B0%95%EC%B0%BD%EC%A7%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set 내장함수 설명 및 예제 학습

Set 함수란? 고유한(unique) item 들의 정렬되지 않은 모음

| 함수 | 설명 |
|:------:|:------|
|all()|집합 내 모든 요소가 참이면 True를 반환한다.(빈집합의 경우 True를 반환한다.) |
|any()|집합 내 하나 이상의 요소가 참이면 True를 반환한다. 빈집합의 경우 False를 반환한다.|
|enumerate()|집합의 각 요소에 대해 인덱스, 값 형태의 enumerate 객체를 반환한다.|
|len()|집합에 포함된 요소의 개수를 반환한다.|
|max()|집합 내 가장 큰 값을 반환한다.|
|min()|집합 내 가장 작은 값을 반환한다.|
|sorted()|집합의 요소를 정렬하여 새로운 리스트로 반환한다. 원본 집합에는 영향을 주지 않는다.|
|sum()|집합 내 모든 요소의 합을 반환한다.|
|add()|집합에 새로운 요소를 추가한다.|
|clear()|집합의 모든 요소를 제거한다.|
|copy()|집합을 복사하여 새로운 집합을 반환한다.|
|difference()|다른 집합과의 차집합을 구하여 새로운 집합을 반환한다.|
|difference_update()|현재 집합에서 다른 집합의 요소들을 제거하여 변경한다.|
|discard()|집합에서 특정 요소를 제거한다. 요소가 없더라도 오류를 발생시키지 않는다.|
|intersection()|두 집합의 공통 요소로 이루어진 새로운 집합을 반환한다.|
|intersection_update()|현재 집합을 다른 집합과의 교집합으로 변경한다.|
|isdisjoint()|두 집합이 공통 요소가 없으면 True, 그렇지 않으면 False를 반환한다.|
|issubset()|현재 지합이 다른 집합의 부분 집합이면 True, 그렇지 않으면 False를 반환한다.|
|issuperset()|현재 집합이 다른 집합을 포함하는 경우 True, 그렇지 않으면 False를 반환한다.|
|pop()|집합에서 임의의 요소를 제거하고 반환한다. 빈 집합에서 호출하면 KeyError가 발생한다.|
|remove()|특정 요소를 집합에서 제거한다. 요소가 존재하지 않으면 KeyError가 발생한다.|
|symmetric_difference()|두 집합에서 서로 포함되지 않은 요소로 이루어진 새로운 집합을 반환한다.|
|symmertric_difference_update()|현재 집합을 두 집합의 대칭 차집합으로 변경한다.|
|union()|두 집합의 합집합을 새로운 집합으로 반환한다.|
|update()|현재 집합을 다른 집합과의 합집합으로 변경한다.|

#all()

all()=집합 내 모든 요소가 참이면 True를 반환한다.(빈집합의 경우 True를 반환한다.)

In [ ]:
#숫자의 값이 True인지 False인지 판단하는 경우
set={1,2,3,4,5} #숫자의 값이 True 일 때
all(set)
print(all(set))

set={1,0,3,5,6} #숫자의 값이 False 일 때(0은 False로 규정된다.)
all(set)
print(all(set))

True
False

In [ ]:
#빈 집합의 경우 True의 값을 반환한다.
set={}
all(set)
print(all(set))

True

In [ ]:
#set의 모든 요소가 참인지 검사할 경우
set={True,True,True} #set의 모든 값이 True인 경우
all(set)
print(all(set))

set={True,False,True,True} #set의 값에 False가 포함된 경우
all(set)
print(all(set))

True
False

#any()

any()=집합 내 하나 이상의 요소가 참이면 True를 반환한다. 빈집합의 경우 False를 반환한다.

In [ ]:
#숫자의 값에 0이 포함된 경우
set={1,3,5,7,9,0}
any(set)
print(any(set)) #any의 경우 False값이 있어도 하나의 요소가 True라면 True값 반환한다.

True

In [ ]:
#빈 집합의 경우
set={}
any(set)
print(any(set)) #빈 집합의 경우 any 함수는 all함수에 반해 False 값을 반환한다.

False

In [ ]:
#논리값의 경우
set={False,False,False,True}
any(set)
print(any(set)) #ant의 경우에는 하나의 요소가 True인 경우 True 값을 반환한다.

True

#enumerate()

enumerate()=집합의 각 요소에 대해 인덱스, 값 형태의 enumerate 객체를 반환한다.

In [ ]:
set={2,4,6,8,10} #set을 enumerate(set)에 바로 출력하는 경우
enumerate(set)
print(enumerate(set)) #enumerate(set) 값은 객체 주소만을 출력한다.

<enumerate object at 0x7c9d4d5c2520>

In [ ]:
set={1,3,5,7,9} #set을 list()로 변환하여 출력하는 경우
print(list(enumerate(set))) #인덱스와, 값형태를 반환하지만 실행 때마다 결과값이 달라질 수 있다.

[(0, 1), (1, 3), (2, 5), (3, 7), (4, 9)]

#len()

len()=	집합에 포함된 요소의 개수를 반환한다.

In [ ]:
set={1,2,5,3,4,2,5} #set 정의
len(set)
print(len(set)) #set에 포함된 요소의 개수를 반환(중복된 값은 하나로 정의된다.)

5

#max()

max()=집합 내 가장 큰 값을 반환한다.

In [ ]:
set={2,4,255,30000,1024,2048} #set 정의
print(max(set)) #set의 가장 큰 값을 반환한다.

30000

#min()

min()=집합 내 가장 작은 값을 반환한다.

In [ ]:
set={10,8,3,5,7} #set 정의
print(min(set)) #set의 가장 작은 값을 반환한다.

3

#sorted()

sorted()=집합의 요소를 정렬하여 새로운 리스트로 반환한다. 원본 집합에는 영향을 주지 않는다.

In [ ]:
set={3,2,1,6,4,7,2,10} #set 정의
sorted(set)
print(sorted(set)) #새로운 리스트로 반환

[1, 2, 3, 4, 6, 7, 10]

#sum()

sum()=집합 내 모든 요소의 합을 반환한다.

In [ ]:
set={6,7,8,9,1,4,10,24,2266} #set 정의
print(sum(set)) #set 모든 요소의 합을 반환

2335

#add()

add()=집합에 새로운 요소를 추가한다.

In [ ]:
set={4,3,2,6,2,7,10,24} #set 정의
set.add("강아지") #set에 새로운 요소 추가
print(set)

{2, 3, 4, '강아지', 6, 7, 24, 10}

#clear()

clear()= 집합의 모든 요소를 제거한다.

In [ ]:
set={1,3,5,7} #set 정의
set.clear() #모든 요소 제거
print(set) #set의 모든 요소가 제거된 걸 확인 가능

set()

#copy()

copy() = 집합을 복사하여 새로운 집합을 반환한다.

In [ ]:
set={3,5,6,7,8} #set 정의
set2=set.copy()
print(set2) #set2에 set값 복사

{3, 5, 6, 7, 8}

#difference()

difference() = 다른 집합과의 차집합을 구하여 새로운 집합을 반환한다.

In [ ]:
set={2,4,6,7,8} #set 정의
set2={1,3,5,6,7,8} #set2 정의
print(set.difference(set2)) #set, set2의 차집합 구하여 새로운 집합 반환

{2, 4}

#difference_update()

difference_update() = 현재 집합에서 다른 집합의 요소들을 제거하여 변경한다.

In [ ]:
set={1,3,5,7,9} #set 정의
set2={2,4,6,8,10} #set2 정의
set.difference_update(set2)
print(set) #set, set2 다른 값이 없어서 set값 출력

{1, 3, 5, 7, 9}

In [ ]:
set={1,3,5,6,8} #set 정의
set2={2,4,6,8,10} #set2 정의
set.difference_update(set2)
print(set) #set 값에서 set2 중복값 제거하여 값을 반환한다.

{1, 3, 5}

#discard()

discard() = 집합에서 특정 요소를 제거한다. 요소가 없더라도 오류를 발생시키지 않는다

In [ ]:
set={"폴리텍","AI","소프트웨어"} #set 정의
set.discard("폴리텍") #"폴리텍" 요소 제거
print(set) #"폴리텍" 요소 제거 확인 가능

{'소프트웨어', 'AI'}

In [ ]:
set={"폴리텍","AI","소프트웨어"} #set 정의
set2={"AI 소프트웨어","정수캠퍼스","폴리텍대학교"} #set2 정의
set.discard(set2)
print(set) #중복 값이 없어도 오류 발생시키지 않음

#intersection()

intersection() = 두 집합의 공통 요소로 이루어진 새로운 집합을 반환한다.

In [ ]:
set={"폴리텍","AI","소프트웨어"} #set 정의
set2={"AI 소프트웨어","폴리텍"} #set2 정의
print(set.intersection(set2)) #set, set2의 공통요소 "폴리텍"인 집합 반환

{'폴리텍'}

#intersection_update()

intersection_update() = 현재 집합을 다른 집합과의 교집합으로 변경한다.

In [ ]:
set={"폴리텍","AI","소프트웨어"} #set 정의
set2={"AI 소프트웨어","폴리텍"} #set2 정의
set.intersection_update(set2) #intersection_update 함수 사용
print(set) #set, set2 교집합 출력

{'폴리텍'}

#isdisjoint()

isdisjoint() = 두 집합이 공통 요소가 없으면 True, 그렇지 않으면 False를 반환한다.

In [ ]:
set={11,22,33,44,55,66} #set 정의
set2={13,26,39,42,55,68} #set2 정의
print(set.isdisjoint(set2)) #set, set2의 55란 공통요소가 있음으로 False값 반환

False

In [ ]:
set={33,44,55,66,77,88,99} #set 정의
set2={34,45,56,67,78,89,100} #set2 정의
print(set.isdisjoint(set2)) #set, set2의 공통요소 없음으로 Ture값 반환

True

#issubset()

issubset() = 현재 집합이 다른 집합의 부분 집합이면 True, 그렇지 않으면 False를 반환한다.

In [ ]:
set={1,3,5,7,9,11} #set 정의
set2={2,4,6,7,9,13} #set2 정의
print(set.issubset(set2)) #부분집합 아니므로 False값 반환

False

In [2]:
s={2,4,6,8,10,12} #s 정의
s2={4,6,8,10} #s2 정의
print(s.issubset(s2)) #s가 s2의 부분 집합인지 출력 : False 값 반환
print(s2.issubset(s)) #s2가 s의 부분 집합인지 출력 : True 값 반환

False
True

#issuperset()

issuperset() = 현재 집합이 다른 집합을 포함하는 경우 True, 그렇지 않으면 False를 반환한다.

In [3]:
s1={"김정규","박창진","김성민","윤재성"} #s1 정의
s2={"김정규","윤재성","김성민"} #s2 정의
print(s1.issuperset(s2)) #s1가 s2를 포함하는지 출력 : True 값 반환
print(s2.issuperset(s1)) #s2가 s1을 포함하는지 출력 : False 값 반환

True
False

#pop()

pop(): 집합에서 임의의 요소를 제거하고 반환한다. 빈 집합에서 호출하면 KeyError가 발생한다.

In [5]:
s1={1,3,5,7,9} #s1 정의
x=s1.pop()
print(s1) #s1에서 임의의 요소 제거한 값 반환

{3, 5, 7, 9}

In [9]:
s2=set() #s2 정의
print(s2.pop()) #s2가 빈집합인 경우 KeyError 발생

KeyError: 'pop from an empty set'

#remove()

remove() = 특정 요소를 집합에서 제거한다. 요소가 존재하지 않으면 KeyError가 발생한다

In [11]:
s={1,3,5,7,8} #s 정의
s.remove(3) #3을 제거
print(s) #3이 제거된 값이 출력

{1, 5, 7, 8}

In [12]:
s={2,4,6,8} #s 정의
s.remove(3) #존재하지 않는 값 제거
print(s) #존재하지 않는 값이라 KeyError 발생

KeyError: 3

#symmetric_difference()

symmetric_difference() = 두 집합에서 서로 포함되지 않은 요소로 이루어진 새로운 집합을 반환한다.

In [14]:
s={1,3,5,7,9} #s 정의
s2={2,4,6,8,10} #s2 정의
print(s1.symmetric_difference(s2)) #s1, s2의 포함되지 않는 값으로 반환

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
s3={1,3,5} #s 정의
s4={2,4,5} #s2 정의
print(s3.symmetric_difference(s4)) #서로 포함되지 않는 새로운 집합 반환
print(s4.symmetric_difference(s3)) #서로 포함되지 않는 새로운 집합 반환

{1, 2, 3, 4}
{1, 2, 3, 4}

#symmetric_difference_update()

symmetric_difference_update() = 현재 집합을 두 집합의 대칭 차집합으로 변경한다.

In [19]:
se={1,2,3,4,5} #se정의
se2={6,7,8,9,10} #se2 정의
se.symmetric_difference_update(se2) #se와 se2의 대칭차집합
print(se) #교집합이 없어서 모든 값 출력

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
se3={1,3,5} #se3 정의
se4={5,7,9} #se4 정의
se3.symmetric_difference_update(se4) #se3와 se4의 대칭차집합
print(se3) #5의 교집합을 제외한 값 출력

{1, 3, 7, 9}

#union()

union() = 두 집합의 합집합을 새로운 집합으로 반환한다.

In [22]:
s={"김정규","김성민"} #s 정의
s2={"박창진","윤재성"} #s2 정의
x=s.union(s2) #x는 s와 s2의 합집함
print(x) #두 집합의 합집합 출력

{'박창진', '윤재성', '김정규', '김성민'}

#update()

update() = 현재 집합을 다른 집합과의 합집합으로 변경한다.

In [24]:
s={"김정규","김성민"} #s 정의
s2={"박창진","윤재성"} #s2 정의
s.update(s2) #s는 s2와 합집함
print(s) #두 집합의 합집합 출력

{'박창진', '윤재성', '김정규', '김성민'}

In [25]:
s={"김정규","김성민","박창진","윤재성"} #s 정의
s2={"장원영","카리나"} #s2 정의
s.update(s2) #s는 s2와 합집함
print(s) #두 집합의 합집합 출력

{'카리나', '윤재성', '김성민', '박창진', '김정규', '장원영'}