<a href="https://colab.research.google.com/github/jini-c/python/blob/main/Tuple_built_in_function_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple built-in function example

__add__ : Concatenate tuple

__mul__ : Repeat typle

__rmul__ : Right-side multiply

__contains__ : Check if value exists

__getitem__ : Access item by index

In [5]:
a = (1, 2, 3)

b = a + (3, 4, 5)

print(b) #a에 (3, 4, 5)를 더한다

print(a*3)

print(3*a) #같은 결과가 나타난다

print(2 in a) #논리값을 반환한다

print(a[0]) #인덱스를 지원한다

(1, 2, 3, 3, 4, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
1

len()	Returns the total number of items


max()	Returns the largest item (for strings, the one that comes last alphabetically)


min()	Returns the smallest item (for strings, the one that comes first alphabetically)


sum()	Returns the sum of all items (only works with numeric types)


tuple()	Converts to a tuple


reversed()	Returns a reverse iterator of the items


sorted()	Returns a sorted list in ascending order (use reverse=True for descending)


all()	Returns True if all items are truthy; returns False if any are falsy


any()	Returns True if any item is truthy; returns False only if all are falsy

In [11]:
a = (1, 2, 3)

print(len(a)) #a 안에 있는 객체의 개수를 알려준다

print(max(a)) #a 안에 최댓값을 출력한다

print(min(a)) #a 안에 최솟값을 출력한다

print(sum(a)) #a 안에 값들을 더해준다

b = [3, 4, 5]

c = tuple(b)

print(type(c))

a = (1, 2, 3, 4, 5)

b = tuple(reversed(a)) #역순으로 출력한다

print(b)

d = (10, 9, 3, 5, 2, 35)

print(sorted(d)) #배열을 오름차순으로 정렬해준다.

t1 = (1, 2, 3)
t2 = (1, 0, 5)
t3 = ('a', ' ', 'c')

print(all(t1)) #참을 반환한다
print(all(t2)) #0이 포함되면 거짓을 반환한다
print(all(t3)) #빈 리스트는 거짓을 반환한다

t4 = (0, 0, 3)
t5 = (0, ' ', None)
t6 = (" ", "a", " ")

print(any(t4)) #3이 참이여서 참을 반환한다.
print(any(t5)) #다 거짓이여서 거짓를 반환한다
print(any(t6)) #"a" 값이 있어서 참을 반환한다

3
3
1
6
<class 'tuple'>
(5, 4, 3, 2, 1)
[2, 3, 5, 9, 10, 35]