In [ ]:
#if문 한줄로 줄이기

grade = 87
if grade >= 60:
  result ='passed'
else:
  result ='failed'

result = ('passed' if grade >=60 else 'failed')

In [ ]:
grade = 49

if grade>= 60:
  print('passed')
else:
  print('failed')

In [13]:
#class_average

#초기화 단계

total = 0 #점수의 총합
grade_counter = 0
grades = [98,76,71,87,84,90,57,79,82,94]

#처리 단계
for grade in grades:
  total += grade #grade값을 total에 더한다.
  grade_counter +=1 #처리한 횟수

average = total / grade_counter
print(f"학급 평균은 {average}")

print(f"{total/grade_counter}")

학급 평균은 81.8
81.8

In [17]:
#class_average_sentinel
"""센티널로 제어되는 반복으로 평균을 구하는 프로그램"""

#초기화 단계
total = 0 #점수의총합
grade_counter = 0 #입력한 점수들의 개수

#처리 단계
grade = int(input('점수 입력, 없으면 -1: ')) #점수 하나 입력 받기

while grade != -1:
  total += grade
  grade_counter += 1
  grade = int(input('점수 입력, 없으면 -1: '))

#마지막 단계

if grade_counter != 0:
  average = total/grade_counter
  print(f'학급 평균은 {average: .2f}')
else:
  print('입력된 점수가 없습니다.')

점수 입력, 없으면 -1: 89
점수 입력, 없으면 -1: 91
점수 입력, 없으면 -1: -1
학급 평균은  90.00

#Decimal 사용법

import Decimal로 사용/ 정확한 소수 계산을 이용할 때 사용

복리 이자 문제

한 사람이 저축 계좌에 1,000달러를 투자하여 5%의 이자를 얻는다. 예금 이지가 모두 계좌에 입금된다고 가정하면, 10년 동안 매년 연말에 계좌에 있는 돈을 게산해 표시한다.

a=p(1+r)n제곱
p = 투자한 원금, r = 연간 이자율, n은 투자한 기간(년단위), a는 n년말에 계좌에 있는돈

In [19]:
from decimal import Decimal

In [21]:
principal = 1000
rate = 0.05

for year in range(1,11):
  amount = principal*(1+rate)**year
  print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.63
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

#break & continue

In [26]:
#break
for number in range(100):
  if number == 10:
    break
  print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [27]:
#continue

for number in range(10):
  if number == 5:
    continue
  print(number, end = ' ')

0 1 2 3 4 6 7 8 9

#boolen

In [28]:
#and
gender = 'Female'
age = 70
if gender == 'Female' and age >= 65:
  print('Senior female')

Senior female

In [29]:
#or

semester_average = 83
final_exam =95

if semester_average >= 90 or final_exam >= 90:
  print('Student gets an A')

Student gets an A

In [46]:
grades = [85,93,93,45,89,85]
sum(grades) /len(grades)

81.66666666666667

In [47]:
#평균, 중앙값, 최빈값ㅇ르 계산하는 함수들이 제공되는 statistics 모듈
import statistics

In [48]:
statistics.mean(grades)

81.66666666666667

In [49]:
statistics.median(grades)

87.0

In [51]:
statistics.mode(grades) #3.9 이상부터는 최빈값이 두 개 이상이여도 오류 발생 X
statistics.multimode(grades) #멀티모드를 쳐서 바이모달(bimodeal)인지 알 수 있다.

[85, 93]