<a href="https://colab.research.google.com/github/jini-c/python/blob/main/list_built_in_function_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List built-in function examples

__add__ : Concatenate lists

__iadd__ : In-place add

__mul__ : Repeat list

__imul__ : In-place multiply

In [ ]:
a = [1, 2, 3]

a+[3, 4, 5] #a와 [3,4,5]가 더해진 새로운 리스트가 생긴다

print(a) #a는 그대로임을 볼 수 있다

a = [1, 2, 3]

a += [3, 4, 5] #a 리스트에 [3,4,5]가 추가된다

print(a)

a = [1, 2, 3]

print(a*2) #a 리스트 자체에 변화는 없다

print(a)

a *= 2 #a 리스트 자체가 변화한다

print(a)

[1, 2, 3]
[1, 2, 3, 3, 4, 5]
[1, 2, 3, 1, 2, 3]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

__contains__ : Check if value exists

__getitem__ : Access item by index

__setitem__ : Set item by index

__delitem__ : Delete item by index

In [ ]:
a = [1, 2, 3]

print(2 in a) #a 안에 있는 요소를 확인한다. 논리값 반환

print(a[2]) #a 인덱스 값을 가져온다

a[0] = 10 #a [] 값에 변화를 준다

print(a)

del a[0] #a의 첫번째 값을 삭제시키고 뒤에 값이 첫번째 값이된다.

print(a)

True
3
[10, 2, 3]
[2, 3]

__iter__ : Iteration support

__len__ : Length of list

__eq__ : Equal comparison

__ne__ : Not equal

__lt__ : Less than

__le__ : Less or equal

__gt__ : Greater than

__ge__ : Greater or equal

In [ ]:
[1,2,3].__iter__() #Iterable 객체는 반복 가능한 객체이다.

print(type(iter(a))) #iterator 객체는 값을 차례대로 꺼낼 수 있다.

a = [1,2,3]

len(a) #List의 객체의 숫자를 알려준다

b = [4,5,6]

print(a == b) #같은 리스트를 가졌는지 확인한다

print(a != b) #같지 않은 리스트를 가졌는지 확인한다.

print(a < b) #첫번째가 크면 True를 반환한다.

print(a <= b) #문자와 숫자 다 비교가능하다

print(a > b)

print(a >= b)

<class 'list_iterator'>
False
True
True
True
False
False

__reversed__ : Reverse iterator

__rmul__ : Right-side multuply

__str__ : Readable string

__repr__ : Unambiguous string

In [ ]:
a = [1,2,3]

for i in reversed(a): #reversed를 사용하면 끝에서부터 출력된다.
  print(i)

print(3*a) #a*3과 결과가 똑같이 출력되는 것을 볼수있다.

3
2
1
[1, 2, 3, 1, 2, 3, 1, 2, 3]
<class 'int'>

In [ ]:
from datetime import datetime
now = datetime.now()

print(str(now)) #사람들이 보기 편하게 출력한다

print(repr(now)) #정확한 정보, 디버깅, 재생성 가능한 코드처럼 보여준다. 객체 재현 가능

2025-04-09 11:03:47.854892
datetime.datetime(2025, 4, 9, 11, 3, 47, 854892)

append : Add element to end

clear : Remove all elemets

copy : Shallow copy

count : Count occurrences

extend : Extend list

index : Find index

insert : insert at position

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a.append(4) #끝에다 4를 추가해준다

print(a)

a.clear() #a 리스트의 모든 요소를 제거한다.

a.copy() #b리스트를 얇게 카피한다.

a.count(1) #안에 입력한 요소가 몇개 있는지 확인해준다

a.extend(b) #다른 리스트의 요소를 추가해준다.

print(a)

print(a.index(3)) #해당 인덱스 값을 알려준다.

a.insert(1, 'x') #인덱스 위치에 값을 추가해준다.

print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 4, 5, 6]
2
[1, 'x', 2, 3, 4, 4, 5, 6]

pop : Remove and return item

remove : Remove first matching item

reverse : Reverse in place

sort : Sort in place

In [ ]:
a = [1, 1, 2, 2, 3, 3, 4]

print(a.pop(3)) #해당 인덱스의 값을 리턴하면서 제거한다

a.remove(3) #해당 값이 첫 번째 만날 때 제거한다

print(a)

a.reverse() #역순으로 정렬한다

print(a)

a.sort() #차례대로 정렬한다

print(a)

2
[1, 1, 2, 3, 4]
[4, 3, 2, 1, 1]
[1, 1, 2, 3, 4]