In [ ]:
import random

In [ ]:
#학점 & 점수생성

def generate_random_credit():
    return random.randint(1, 3)

def generate_random_score():
    return random.randint(40, 100)

In [ ]:
def calculate_grade(score):
    if score >= 95:
        return 'A+'
    elif score >= 90:
        return 'A'
    elif score >= 85:
        return 'A-'
    elif score >= 80:
        return 'B+'
    elif score >= 75:
        return 'B'
    elif score >= 70:
        return 'B-'
    elif score >= 65:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'C-'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

In [ ]:
def input_student():
    student = {}
    name = input("학생 이름 입력 (종료하려면 'exit'): ").strip()
    if name.lower() == 'exit':
        return None

    subject_count = int(input(f"{name} 학생의 과목 수를 입력하세요: ").strip())

    subjects = {}
    for i in range(subject_count):
        subject_name = input(f"{i+1}번째 과목명을 입력하세요: ").strip()
        score = generate_random_score()
        credit = generate_random_credit()
        grade = calculate_grade(score)
        subjects[subject_name] = {
            'credit': credit,
            'score': score,
            'grade': grade
        }
    student['name'] = name
    student['subjects'] = subjects
    return student

In [ ]:
def display_student(student):
    print(f"\n학생 이름: {student['name']}")
    for subject_name, info in student['subjects'].items():
        print(f"  {subject_name}: {info['credit']}학점, {info['score']}점, {info['grade']}")

    average_score = calculate_student_average(student)
    average_grade = calculate_grade(average_score)
    print(f"➔ 평균 점수: {average_score:.2f}점, 평균 학점: {average_grade}")

In [ ]:
def main():
    students = []

    while True:
        student = input_student()
        if student is None:
            break
        students.append(student)

    for student in students:
        display_student(student)

In [ ]:
main()

학생 이름 입력 (종료하려면 'exit'): a
a 학생의 과목 수를 입력하세요: 2
1번째 과목명을 입력하세요: a
2번째 과목명을 입력하세요: b
학생 이름 입력 (종료하려면 'exit'): b
b 학생의 과목 수를 입력하세요: 10
1번째 과목명을 입력하세요: 1
2번째 과목명을 입력하세요: 2
3번째 과목명을 입력하세요: 3
4번째 과목명을 입력하세요: 4
5번째 과목명을 입력하세요: 5
6번째 과목명을 입력하세요: 6
7번째 과목명을 입력하세요: 7
8번째 과목명을 입력하세요: 8
9번째 과목명을 입력하세요: 9
10번째 과목명을 입력하세요: 10
학생 이름 입력 (종료하려면 'exit'): exit

학생 이름: a
  a: 3학점, 57점, C-
  b: 3학점, 67점, C+
➔ 평균 점수: 62.00점, 평균 학점: C

학생 이름: b
  1: 2학점, 47점, F
  2: 1학점, 95점, A+
  3: 2학점, 40점, F
  4: 1학점, 69점, C+
  5: 1학점, 64점, C
  6: 2학점, 73점, B-
  7: 3학점, 94점, A
  8: 3학점, 99점, A+
  9: 3학점, 83점, B+
  10: 3학점, 43점, F
➔ 평균 점수: 71.67점, 평균 학점: B-