
##특정 조건에 맞는 숫자 찾기(출제자 : 진한솔)

---

1. 범위는 1 <= n <= 1000
2. 정수 n을 입력하고 n까지 3의 배수이면서 2의 배수가 아닌 수들만 리스트에 담아 반환하는 함수를 작성하세요.
---

In [25]:
n = input ("1 <= n <= 1000사이의 값을 입력하시오 :")

1 <= n <= 1000사이의 값을 입력하시오 :356

In [26]:
def solution(n):
  a = []
  if n.isdigit() and 1 <= int(n) <= 1000:
      n = int(n)
      for i in range(n + 1):
          if i % 3 == 0 and i % 2 != 0:
              a.append(i)
      return(a)

In [27]:
result = solution(n)
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297, 303, 309, 315, 321, 327, 333, 339, 345, 351]